/* color botones actual #F5D1D1;
    color fondo actual: #E5F4FB;
    color de body: #f8dfdf;*/
*{
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #fff
}


h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
p{ font-size: 1.25em;}


.color-ibellas{
    color: #7BD0F7;
}

header{
    opacity: 0.98;
}

.header a{
    color: #fff;
}
svg{
    color: #FFF;
    height: 30px;
    width: 30px;
}

.header a:hover{
    color: #7BD0F7;
}

#spanIsabel{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: #7BD0F7;
}
#spanBendezu{
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 2px 10px;
    border-radius: 10px;
    border: 1px solid #0005;
    box-shadow: 2px 2px 10px #0005;
    color: #000;
    background-color: #7BD0F7;

}

button:hover{
    background-color:  #61a9ca;
}

.container{
    max-width: 1100px;
    margin: auto;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    margin-top: 85px;
    color: #fff;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/hero2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero button{
    font-size: 1.75em;
}

#hero a{
    text-decoration: none;
    color: #000;
}

#somos-ibellas .container{
    text-align: center;
    padding: 150px 12px;
}

#somos-ibellas h2{
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    color: #7BD0F7;
}

#nuestros-servicios{
    background-color: rgb(30, 30, 30);
    color: #fff;
    text-align: center;
}

#nuestros-servicios .container{
    padding: 150px 12px;

}


#nuestros-servicios h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-servicios p{
    display: none;
}

#nuestros-servicios .carta{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/crio2.jpg);
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/facial2.jpg);
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/corporal.jpg);
}

.modal-header{
    background-color: #7BD0F7;
}

.modal-body{
    text-decoration: none;
    border-top: none;
}

#reserva-turno{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 95vh;
    margin-top: 100px;
    margin-bottom: 100px;
    color: #FFF;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/turno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



#form-contact{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.form-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    margin: 50px auto;
    padding: 10px;
    max-width: 720px;
    min-width: 200px;
    max-height: 490px;
    border: 15px solid  #7BD0F7;
    outline: 3px solid  #7BD0F7;
}

.form{
    flex: 1;
    text-align: center;
    padding: 30px;
    order: 5;
    color: #000;
}

.form_imput:focus{
    background: linear-gradient(to bottom,
    transparent, rgb(161, 160, 160));
    outline: none; 
    border-bottom: 2px solid  #7BD0F7;
}


.form textarea{
    min-height: 60px;
    resize: none;
}


.form_imput{
    width: 100%;
    padding: 7px 0;
    margin: 6px 0;
    border: none;
    border-bottom: 2px solid  #7BD0F7;
    background: transparent;
    color: #000;

}


#redesSociales{
    text-align: center;
    justify-content: space-around;
    margin-bottom: 40px;

}

#redesSociales a {
    margin-left: 30px;
    margin-right: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    transition: transform .5s;
}
#redesSociales a:hover{
    color: #7BD0F7;
    transform: scale(1.2);
}

footer{
    background-color: rgb(245, 245, 245);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
}

footer .container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}


@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
        margin-top: 0;
        height: 100px;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0px;
        padding-right: 20px;

    }

    #hero{
        margin-top: 85px;
    }

    #somos-ibellas .container{
        display: flex;
        justify-content: center;
    }

    #somos-ibellas h2{
        margin-top: 0px;
    }

    .somos-ibellas-text{
        width: 50%;
        max-width: 600px;
        padding: 0px 30px;
        text-align: initial;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }


    #somos-ibellas .img-container{
        background-image:url(/media/flor-de-loto.jpg);
        background-size: cover;
        background-position: center center;
        height: 350px;
        width: 250px;
    }

    #nuestros-servicios .servicios{
        display: flex;
        justify-content: center;
    }  


    #nuestros-servicios p{
        display: block;
        margin-bottom: 30px;

    }
    .img-fluid{
        max-width: 350px;
    }


    #nuestros-servicios .carta{
        padding: 30px;
        box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    }

}